body{
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;

}
 
.App{
  background-color: white;
  border-radius: 1.5rem;
  width: 31rem;
  height: 27rem;
  text-align: center;
  margin: 5rem auto;
}

.Img_maison{
  margin-top: 2rem;
}

h1{
  font-size: x-large;
}
p{
  text-align: justify;
  text-align-last: center;
  color: #818283;
}

.App .button{
 display: flex;
justify-content: center;
gap: 0.5rem;

}
.btn{
  height: 3rem;
  width: 12rem;
  border:  1.5px solid black;
  border-radius: 0.3rem;
  border-color: #818283;
  text-align: center;
transition: background-color 0.4s ease-in-out 0.1s;

}
.btn_cancel{
  background-color: white;
  color: black;
  cursor: pointer;
}
.btn_cancel:hover{
  background-color: #818283;
}
.btn_confirm{
  background-color: rgb(18, 173, 197);
  color: white;
  cursor: pointer;
}
.btn_confirm:hover{
  background-color: rgb(18, 102, 197);

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
